/* Fonts */
@font-face {
  font-family: DynaPuff;
  src: url("./assets/fonts/DynaPuff-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: DynaPuff;
  src: url("./assets/fonts/DynaPuff-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: DynaPuff;
  src: url("./assets/fonts/DynaPuff-Regular.ttf");
  font-weight: 400;
}

/* Default CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #121212 !important;
  color: #fff !important;
  font-family: "DynaPuff", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p,
a,
li,
button,
ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

@media (min-width: 1700px) {
  main .container {
    max-width: 100%;
    padding: 0 150px;
  }
}


p.success {
  color: green;
}

p.danger {
  color: red;
}
/************ Loader Css ************/
.loader-container {
  margin-top: 200px;
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: url('./assets/img/loading-2.png') no-repeat;
  z-index: 99;
  background-size: 250px;
  background-position: 50% 33%;
}
.loader-container .loading-line {
  font-size: 30px;
  text-align: center;
}

.spinner {
  width: 350px;
  height: 350px;
  position: relative;
  background: url('./assets/img/loading-1.png') no-repeat;
  background-size: 320px;
  animation: spin-anim 4s linear infinite;
  background-position: center;
}

@keyframes spin-anim {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
/************ Navbar Css ************/
.nav-page ul {
  display: flex;
  text-decoration: none;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  height: 50px;
  background-color: #000000;
}
.nav-page li {
  padding: 15px;
  border-radius: 10px;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}
.nav-page li a {
  text-decoration: none;
}
nav.navbar {
  /*--------------------橫幅排版-----------------*/
  padding: 18px 0;
  position: absolute;
  width: 100%;
  z-index: 100;
  transition: 0.32s ease-in-out;
}
nav.navbar.scrolled {
  /*--------------------橫幅-捲動之後-----------------*/
  top: 0;
  position: fixed;
  padding: 0px 0;
  background-color: #1313137b;
}
nav.navbar a.navbar-brand {
  /*--------------------橫幅LOGO-----------------*/
  width: 10%;
}
nav.navbar a.navbar-brand:hover {
  /*--------------------橫幅LOGO-hover----------------*/
  animation: animate2 1s infinite;
}
@keyframes animate2 {
  25% {
    filter: saturate(98%) drop-shadow(0px 0px 20px rgb(255, 77, 1));
  }
  50% {
    filter: saturate(100%) drop-shadow(0px 0px 30px rgb(255, 251, 0));
  }
  75% {
    filter: saturate(98%) drop-shadow(0px 0px 15px rgb(253, 85, 1));
  }
  100% {
    filter: saturate(98%) drop-shadow(0px 0px 5px rgb(255, 130, 53));
  }
}
.navbar-link {
  /*--------------------橫幅-右上標題設定-----------------*/
  position: relative;
  z-index: 0;
  font-weight: 400;
  color: #fff;
  overflow: hidden;
  letter-spacing: 0.8px;
  padding: 4px 8px;
  font-size: 18px;
  opacity: 0.9;
  margin-left: 20px ;
  margin-right: 20px ;
  border-radius: 2px;
  text-decoration: none;
}

.navbar-link:hover:before {/*彩色邊框-動畫*/
  content: "";
  position: absolute;
  z-index: -2;
  top: -45px;
  left: -8px;
  width: 120px;
  height: 120px;
  background-size: 300%;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-image: linear-gradient(30deg, #ffff00, #00ff00, #0099ff, #0008ff, #000000, #ff0055,
  #ff0000, #ff0055, #ff0000, #ffff00, #00ff00, #0099ff, #001aff, #a200ff);
  animation: rotate 0.5s linear infinite;
}
@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}
.navbar-link:hover:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 4px;
  left: 4px;
  overflow: hidden;
  width: 85px;
  height: 20px;
  background-color: #000000;
  border-radius: 2px;
  opacity: 1;
}
.navbar-link:hover {
  /*--------------------橫幅-右上標題設定-鼠標懸浮----------------*/
  color: rgb(255, 216, 24);
  opacity: 1;
}
span.navbar-text {
  /*--------------------橫幅-右上標題設定-icon符號排版----------------*/
  display: flex;
  align-items: center;
}
.social-icon {
  display: inline-block;
  margin-left: 14px;
}
.social-icon a {
  /*--------------------橫幅-右上icon設定-底面----------------*/
  width: 42px;
  height: 42px;
  background: rgba(255, 255, 255, 0.1);
  display: inline-flex;
  border-radius: 50%;
  margin-right: 6px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.social-icon a::before {
  /*--------------------橫幅-右上icon設定-表面-縮到0---------------*/
  content: "";
  width: 42px;
  height: 42px;
  position: absolute;
  background-color: #ff0000;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
  box-shadow: 0px 0px 20px 1px rgb(255, 168, 168) inset, 0px 0px 10px 1px rgb(255, 255, 255);
}
.social-icon .facebook-icon::before {
  background-color: #1601ff;
  box-shadow: 0px 0px 20px 1px rgb(209, 211, 255) inset, 0px 0px 10px 1px rgb(255, 255, 255);
}
.social-icon .linkedin-icon::before {
  box-shadow: 0px 0px 20px 1px rgb(162, 255, 153) inset, 0px 0px 10px 1px rgb(255, 255, 255);
  background-color: #04ff00;
}

.social-icon a:hover::before {
  /*--------------------橫幅-右上icon設定-表面-縮大1---------------*/
  transform: scale(1);
}
.social-icon a img {
  /*--------------------橫幅-右上icon設定-圖案----------------*/
  width: 60%;
  z-index: 1;
  transition: 0.3s ease-in-out;
}
.social-icon a:hover img {
  filter: saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg)
    brightness(95%) contrast(86%);
}
.navbar-text button {
  /*--------------------橫幅-右上icon設定-Let's contact----------------*/
  font-weight: 500;
  color: #fff;
  border: 1px solid #fff;
  padding: 5px 15px;
  font-size: 18px;
  margin-left: 18px;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  transition: 0.3s ease-in-out;
  border-radius: 5px;
}
.navbar-text button span {
  z-index: 1;
}
.navbar-text button::before {
  /*--------------橫幅-右上icon設定-Let's contact-顏色---------------*/
  content: "";
	height: 100%;
	width: 0;
  position: absolute;
  background-color: transparent;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.navbar-text button:hover {
  /*--------------橫幅-右上icon設定-Let's contact-hover-字體--------------*/
  color: #121212;
}
.navbar-text button:hover::before {
  /*--------------橫幅-右上icon設定-Let's contact-hover顏色---------------*/
  content: "";
  height: 100%;
  width: 110%;
  background-color: rgb(221, 16, 207);
  position: absolute;
}
nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}
nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid rgb(255, 255, 255);
  transition: all 300ms linear;
  top: -2px;
}
nav.navbar .navbar-toggler-icon:focus {
  border-bottom: 2px solid #fff;
}
nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
  /*--------------橫幅-右上toggler設定-中間&上面橫線---------------*/
  width: 24px;
  position: absolute;
  height: 2px;
  background-color: rgb(255, 255, 255);
  top: 0;
  left: 0;
  content: "";
  z-index: 2;
  transition: all 300ms linear;
}
nav.navbar .navbar-toggler-icon:after {
  /*--------------橫幅-右上toggler設定-中間橫線---------------*/
  top: 8px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(45deg);
  background-color: #fff;
  height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: translateY(8px) rotate(-45deg);
  background-color: #fff;
  height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  border-color: transparent;
}

/************ Banner Css ************/
.banner {/*橫幅整體設定*/
  margin-top: 0;
  padding: 150px 0 100px 0;
  background-image: url("./assets/img/colorful-abstract-nebula-space-background.jpg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner .tagline-box {/*橫幅 顏色格子-格子 設定*/
  width: 200px;
  height: 50px;
}
.banner .tagline {/*橫幅 顏色格子-字體 設定*/
  width: 400px;
  height: 40px;
  padding-left: 7px;
  box-sizing: border-box;
  font-weight: 500;
  letter-spacing: 1.5px;
  background: linear-gradient(
    90.21deg,
    rgba(255, 0, 89, 0.5) -5.91%,
    rgba(85, 0, 255, 0.5) 111.58%
    );
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 30px;
  margin: 5px 0;
  display: flex;
}
.banner .tagline .textSpace {
    margin-left: 15px;
}
.banner .tagline p:hover {
  color: #00ff00;
}

/*字體彈跳設定*/
.banner h1 {
  font-size: 65px;
  font-weight: 500;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  user-select: none;
}
.banner h1 div span {
  display: flex;
}
.banner h1 div span .textSpace {
  margin-left: 15px;
}
.banner h1 p:hover{
  color: aqua;
}
.rubberBand {
  animation: rubberBand 1s;
}

/* @keyframes rubberBand {
  0%{
      transform: scaleX(1);
  }
  40%{
      transform: scaleX(1.4) scaleY(0.75);
    }
  55%{
      transform: scaleX(0.85) scaleY(1);
  }
  65%{
      transform: scaleX(1.09) scaleY(0.85);
  }
  75%{
      transform: scaleX(0.9)  scaleY(1);
  }
  90%{
      transform: scaleX(1.05) scaleY(0.95);
  }
  100%{
      transform: scaleX(1) scaleY(1);
  }
} */
@keyframes rubberBand {
  0%{
      transform: scale3d(1, 1, 1);
  }
  30%{
      transform: scale3d(1.25, 0.75, 1);
    }
  40%{
      transform: scale3d(0.75, 1.25, 1);
  }
  50%{
      transform: scale3d(1.15, 0.85, 1);
  }
  65%{
      transform: scale3d(0.95, 1.05, 1);
  }
  75%{
      transform: scale3d(1.05, 0.95, 1);
  }
  100%{
      transform: scale3d(1, 1, 1);
  }
}
/*-----------------------------*/

.banner .backWords {/*橫幅  隱藏字  設定*/
  transform: translate(-20px, -19px);
  position: absolute;
  user-select: none;
  opacity: 0.2;
  color: rgb(219, 219, 219);
}
.banner .bannerInfo {/*橫幅   介紹行   設定*/
  color: #e1e0e0;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 25px;
  width: 96%;
}
.banner a {/*橫幅  See My Resume 按鈕  設定*/
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}
.banner a svg { /*橫幅  See My Resume 箭頭按鈕  設定*/
  font-size: 25px;
  margin-left: 20px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}
.banner a:hover svg {
  margin-left: 40px;
}
.banner img {/*橫幅  右方圖片  設定*/
  animation: upAndDown 3s linear infinite;
}
@keyframes upAndDown {
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(-20px);
    }
}
.txt-rotate > .wrap {
  border-right: 20px solid #666;
}

/************ Skills Css ************/
.skill {
  padding: 0 0 50px 0;
  position: relative;
}
.skill-box {
  background: #151515;
  border-radius: 64px;
  text-align: center;
  padding: 60px 50px;
  margin-top: -60px;
}
.skill-box:hover {
  transition: 1s ease-out;
  box-shadow: 0px 0px 20px 1px rgb(255, 242, 0)
}
.skill h2 {
	font-size: 45px;
	font-weight: 700;
  margin-bottom: 30px;
}
.skill h5 {
	color: rgb(255, 119, 0);
}
.skill p {
    color: #B8B8B8;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 14px 0 75px 0;
}
.skill-slider {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
.skill-slider .item:hover  {
  color: #fff;
  transition: 1s linear ;
  transform: translateY(-176px)
}
.skill-slider .item:not(:hover) {
  transition: 3s linear ;
  transform: translateY(0px)
}
.skill-slider .item .skillInfo {
  position: absolute;
  width: 100%;
  margin-top: 22px;
}
.skill-slider .item ul, li {
  padding: 0;
  margin: 0;
  color: #fff;
  list-style-type: none;
  text-align: center;
}
.skill-slider .item img {
  width: 160px;
  height: 100px;
  margin: 0 auto 15px auto;
}
.background-image-left {
  top: 28%;
  position: absolute;
  bottom: 0;
  width: 40%;
  z-index: -4;
}

/************ Projects Css ************/
.project {
  padding: 80px 0;
  position: relative;
  background-color: black;
}
.project h2 {
	font-size: 45px;
	font-weight: 700;
  text-align: center;
}
.project p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px auto 30px auto;
  text-align: center;
  width: 56%;
}
.project .nav.nav-pills {
  width: 72%;
  margin: 0 auto;
  margin-bottom: 30px;
  border-radius: 50px;
  background-color: rgb(255 255 255 / 10%);
  overflow: hidden;
}
.project .nav.nav-pills .nav-item {
  width: 33.33333%;
}
.project .nav.nav-pills .nav-link {
  background-color: transparent;
  border-radius: 0;
  padding: 17px 0;
  color: #fff;
  width: 100%;
  font-size: 17px;
  letter-spacing: 0.8px;
  font-weight: 500;
  position: relative;
  transition: 0.3s ease-in-out;
  text-align: center;
  z-index: 0;
}
.project .nav.nav-pills .nav-link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
}
.project .nav.nav-pills .nav-link.active::before {
    width: 100% !important;
}
.project .nav.nav-pills .nav-link.active {
    border: 1px solid rgba(255, 255, 255, 1);
}
.nav-link#projects-tabs-tab-first {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 55px 0px 0px 55px;
}
.nav-link#projects-tabs-tab-second {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.nav-link#projects-tabs-tab-third {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0 55px 55px 0;
}
.proj-imgBox {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 24px;
}
.proj-imgBox::before {
  content: "";
  background: linear-gradient(90.21deg, #353434 -5.91%, #190e47 111.58%);
  opacity: 0.85;
  position: absolute;
  width: 100%;
  height: 0;
  transition: 0.4s ease-in-out;
}
.proj-imgBox:hover::before {
  height: 100%;
}
.proj-txtx {
  position: absolute;
  text-align: center;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: 100%;
}
.proj-imgBox:hover .proj-txtx{
  top: 50%;
  opacity: 1;
}
.proj-txtx h4 {
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 0.8px;
  line-height: 1.1em;
}
.proj-txtx a {
  padding: 8px;
  border-radius: 200px;
  background-color: #000000;
  color: #fff;
  text-decoration: none;
  font-style: italic;
  font-weight: 400;
  font-size: 10px;
  letter-spacing: 0.8px;
}
.proj-txtx a:hover {
  color: #f6ff00;
}
.background-image-right {
  top: 20%;
  position: absolute;
  bottom: 0;
  width: 35%;
  right: 0;
  z-index: -4;
}

/************ Projects Css ************/
.contact {
  background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
  padding: 60px 0 200px 0;
}
.contact img {
  width: 92%;
}
.contact h2 {
	font-size: 45px;
	font-weight: 700;
  margin-bottom: 30px;
}
.contact form input, .contact form textarea {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  color: #fff;
  margin: 0 0 8px 0;
  padding: 18px 26px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
}
.contact form input:focus, .contact form textarea:focus {
  background: rgba(255, 255, 255, 1);
  color: #121212;
}
.contact form input::placeholder, .contact form textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
.contact form input:focus::placeholder, .contact form textarea:focus::placeholder {
  color: #121212;
  opacity: 0.8;
}
.contact form button {
  font-weight: 700;
  color: #000;
  background-color: #fff;
  padding: 14px 48px;
  font-size: 18px;
  margin-top: 25px;
  border-radius: 0;
  position: relative;
  transition: 0.3s ease-in-out;
}
.contact form button span {
  z-index: 1;
  position: relative;
}
.contact form button:hover {
  color: #fff;
}
.contact form button::before {
  content: "";
  background: #121212;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: 0.3s ease-in-out;
}
.contact form button:hover::before {
  width: 100%;
}


/************ Footer Css ************/
.footer {
  padding: 0 0 50px 0;
  background-image: url('./assets/img/footer-bg.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.footer img {
  width: 26%;
}
.footer p {
  font-weight: 400;
  font-size: 14px;
  color: #B8B8B8;
  letter-spacing: 0.5px;
  margin-top: 20px;
} 
.toTheTop {
  right: 30px;
  bottom: 200px;
  z-index: 999;
  color: #fff;
  padding: 5px;
  background-color: tomato;
  border-radius: 10px;
}
.toTheTop:hover{
  color: #ff0055;
  background-color: black;
}


/*------------------------------About Page------------------------------------------------------*/
.salesLine {
  margin-top: 30px;
}
.salesLine h2{
  text-align: center;
}
.salesLine p{
  box-sizing: border-box;
  width: 650px;
  text-indent: 15px;
  word-spacing: 2px;
  line-height: 25px;
}

.armyLine {
  margin-top: 30px;
}
.armyLine h2{
  text-align: center;
}
.armyLine p{
  box-sizing: border-box;
  width: 650px;
  text-indent: 15px;
  word-spacing: 2px;
  line-height: 25px;
}

.about-a {
  font-size: 20px;
}
.about-a:hover {
  color: rgb(255, 255, 0);
}
.about-a:active {
  color: #ff0055;
}

/*------------------------------Sales Charts------------------------------------------------------*/
.sales-slider {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
.sales-slider .item a {
  cursor: pointer;
}
.sales-slider .item img:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 20px 1px rgb(255, 168, 168) inset, 0px 0px 10px 1px rgb(255, 255, 255);
}
.sales-slider .item img {
  width: 160px;
  height: 100px;
  margin: 0 auto 15px auto;
}

/************ Box3D Css ************/
.Box3D-container {
  position: fixed !important;
  top: 25%;
  height: 500px !important;
  width: auto;
  background-color: #0099ff;
}
















